@import url('https://fonts.googleapis.com/css?family=Alegreya Sans SC');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body {
	font-family: Alegreya Sans SC;
	text-align: center; 
	}

.gametext {
	font-size: 23pt;
	margin-top: 10px;
	}
